%h1 #{t('.title')}
%table.table.table-striped
  %thead
    = render 'title'
  %tbody
    = render @users

= paginate @users, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm'


:javascript
  function setSort(name) {
    if (Cookies.get('sort') == name) {
      if (Cookies.get('sort_index') == 'asc') {
        Cookies.set('sort_index', 'desc');
      } else {
        Cookies.set('sort_index', 'asc');
      }
    } else {
      Cookies.set('sort', name);
      Cookies.set('sort_index', 'asc');
    }
  }

  function delSort() {
    Cookies.remove('sort');
    Cookies.remove('sort_index');
  }

  function reloadGlyphicon() {
    var elements = document.getElementsByClassName('glyphicon-title');

    for (var i = 0; i < elements.length; i++) {
      elements[i].className = 'glyphicon-title glyphicon';
      if (elements[i].id == Cookies.get('sort')) {
        if (Cookies.get('sort_index') == 'asc') {
          elements[i].className += ' glyphicon-sort-by-attributes'
        } else {
          elements[i].className += ' glyphicon-sort-by-attributes-alt'
        }
      } else {
        elements[i].className += ' glyphicon-sort'
      }
    }
  }

  reloadGlyphicon();